.footer{
    position: relative;
    display: flex;
    background-color: goldenrod;
    padding-top: 15px;
    color: white;
    height: 50px;
    list-style: none;
    font-size: 20px;
    padding-left: 30px;

    li{
        padding-right: 50px;
    }

}

